<!DOCTYPE html>
<html lang="es">
<!-- Include Footer -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="../images/logoprog2.PN" />
	
	<title> Mercado Cars </title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="../stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="../stylesheets/app.css">
</head>
<body>
	<!-- Footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-credit-card"></i>
						<h2>Podes visitar nuestras sucursales para pagar</h2>
						<p>Aca en Mercado Cars podes pagar en efectivo o con tarjeta, los pagos
                            con tarjeta pueden ser hasta en 6 cuotas sin interes!,</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-gift"></i>
						<h2>Membresia con un precio de 50 dolares anual</h2>
						<p>Con la membresia enterate de futuras negociaciones y promociones unicas.</p>
					</article>
				</div>
				<div class="col-12 col-lg-4">
					<article class="footer-data">
						<i class="fas fa-user-shield"></i>
						<h2>Seguridad, ante todo</h2>
						<p>Si su vehiculo viene con fallas, tens 1 año de garantia, en el cual nosotros hacemos las modificaciones necesarias.</p>
					</article>
				</div>
			</div>

			<div class="row">
				<article class="footer-data">
				<h2>Página web desarrollada por Christian Helmich y Lautaro Cucco</h2>
				</article>
			</div>
		</div>
	</footer>
	<!-- /Footer -->
	
</body>	
</html>