<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%if (logueado){%>
		<%- include("partials/headerLogueado.ejs") %>
		<%} else { %>
		<%- include("partials/headerNoLogueado.ejs") %>
	<% } %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar Producto</h2>
			</div>
		<!-- form para add product --> 

		<div class="wrapper fadeInDown">
			<div id="formContent">
			  <!-- Tabs Titles -->
			  <h2 class="active"> Agregar Producto </h2>
			  <!-- Icon -->
		  
			  <form>
				<label for="Image of the product" class= "letraForm"> Imagen del producto: </label>
				<input type="file" name="img" placeholder= "image of the product" value="">
				<hr>
				<label for="Name of the product" class= "letraForm"> Nombre del producto: </label>
				<input type="text" name="name of the product" placeholder= "name of the product" value=""> 
				<hr>
				<label for="Description" class= "letraForm"> Descripcion: </label>
				<input type="text" name="descripction" placeholder="description">
				<hr>
				<div>
					<label for="age" class= "letraForm"> Fecha de lanzamiento: </label>
					<input type="date" name="birthday" placeholder= "Upload date" value="">
				</div>
				<hr>
				<input type="submit" class="fadeIn fourth" value="ADD">
			  </form>
	
			</div>
		  </div>
			


	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>