<!DOCTYPE html>
<html lang="es">
	
<!-- Include Head -->
<%- include('./partes/head.ejs')  %> 

<body>

	<!-- Header -->
	<%if (logueado){%>
		<%- include("./partes/headerLogueado.ejs") %>
		<%} else { %>
		<%- include("./partes/headerNoLogueado.ejs") %>
	<% } %>
	<!-- /Header -->

	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar perfil</h2>
			</div>
		</div>
	</div>

	<div class="wrapper fadeInDown">
		<div id="formContent">
		  <!-- Tabs Titles -->
		  <h2 class="active"> Edit  </h2>
		  <!-- Icon -->
	  
		  <!-- Login Form -->
		  <form>
			<input type="text" id="login" name="login" placeholder="email">
			<hr>
			<input type="text" id="password" name="username" placeholder="username">
			<hr>
			<input type="text" id="password" name="login" placeholder="password">
			<hr>
			<label class= "letraForm" for="birth"> Date of birth </label>
			<br>
			<input type="date" name="birthday" placeholder= "Date of birth" value="">
			<hr>
			<input type="text" name="id" placeholder= "id" value="">
			<hr>
			<label class= "letraForm" for="profilePic"> Selecciona tu foto de perfil </label>
			<input type="file" name="img" placeholder= "Profile pic" value="">
			<hr>
			<input type="submit" class="fadeIn fourth" value="Edit">
		  </form>

		</div>
	  </div>

	<!-- footer -->
	<%- include('./partes/footer.ejs')  %> 
	<!-- /footer -->
</body>

</html>