<!DOCTYPE html>
<html lang="es">

<!-- Include Head -->
<%- include('./partials/head')  %> 

<body>
	<!-- Header -->
	<%//if (logueado){%>
		<%- //include("partials/headerLogueado.ejs") %>
		<%//} else { %>
		<%- //include("partials/headerNoLogueado.ejs") %>
	<% //} %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Regístrese en Mercado Cars:</h2>
			</div>
			
			<div class="wrapper fadeInDown">
				<div id="formContent">
				  <!-- Tabs Titles -->
				  <h2 class="active"> Registrate! </h2>
				  <!-- Icon -->
			  
				  <!-- Login Form -->
				  <form action="/profile/register" method="POST">
					<input type="text" id="password" name="nombre" placeholder="nombre">
					<hr>
					<input type="text" id="password" name="apellido" placeholder="apellido">
					<hr>
					<input type="text" id="login" name="email" placeholder="email">
					<hr>
					<input type="password" id="password" name="contrasena" placeholder="password">
					<hr>
					<label class= "letraForm" for="profilePic"> Elegite una foto de perfil: </label>
					<input type="text" name="foto" placeholder= "Profile pic" value="">
					<hr>
					<input type="submit" class="fadeIn fourth" value="Registrate">
				  </form>
		
				</div>
			  </div>

		</div>
	<!-- footer -->
	<%- include('./partials/footer')  %> 
	<!-- /footer -->
</body>

</html>